.center-recapthca    {
  text-align: center !important;
}
label.MuiFormLabel-root.Mui-error{
  font-size: .75rem;
}
#g-recaptcha  {
  display: inline-block;
}
#g-recaptcha div {
  text-align: center;
}
.Upper-Center{
  text-align: center;
  padding-top: 10px;
}