# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/launch.json
debug.log
src/.idea/codeStyles/codeStyleConfig.xml
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/moody-web-ui.iml
src/.idea/codeStyles/Project.xml
src/.idea/inspectionProfiles/Project_Default.xml
src/.idea/vcs.xml
src/.idea/jsLibraryMappings.xml
src/.idea
